.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan
*.tfvars
*.tfvars.json
!*.example.tfvars
crash.log
crash.*.log
.terraformrc
terraform.rc
.env
.env.*
!.env.example
*.pem
*.key
*.pfx
*.p12

backend.hcl
